{{#if tweets_queued_length}}
  <p>Tweets queued:</p>
  <ul>
    {{#each tweets_queued}}
      <li>
        <form action="/repost/{{this.id_str}}" method="post">
          <button type="submit">post</button>
        </form>
        {{{this.to_html}}}
      </li>
    {{/each}}
  </ul>
{{/if}}

{{#if tweets_posted.length}}
  <p>Tweets posted:</p>
  <ul>
    {{#each tweets_posted}}
      <li>
        {{{to_html}}}
        <span class="link">[<a href="{{url}}">link</a>]</span>
      </li>
    {{/each}}
  </ul>
{{/if}}

{{#unless tweets_queued.length}}
  {{#unless tweets_posted.length}}
    <p>Not much to talk about.</p>
  {{/unless}}
{{/unless}}
