/* TODO: sass */

* { font-family: sans-serif; }

h1 { margin-bottom: 0; }
p { margin-top: 0; }
ul { margin: 0 0 2em; padding: 0; overflow: auto; }
li { clear: left; margin-bottom: 1em; list-style: none; }
li form { float: left; }

button[type='submit'] { color: blue; font-weight: bold; }
.tweet { }
.tweet .date:before { content: 'at '; }
.tweet .date { font-size: 0.9em; color: gray; }
.tweet .user { }
.tweet .user:after { content: ' wrote:'; }
.tweet .text { }
.tweet .text:before,
.tweet .text:after { content: '"'; }
.tweet .processed { display: none; }

footer { position: fixed; bottom: 0; font-size: 0.8em; }
footer dl>* { display: inline; }
footer dd { margin: 0; }
footer dd abbr:after { content: '.'}
